body {
    color: #d0e4fe;
    background-image: url(suits1.jpg); 
    background-repeat: no-repeat;
    background-position: right bottom;
    font-family: helvetica, arial;
    background-color: black
}

header {
    text-align: center;

}

h1 {
    font-family: Times New Roman, Times, serif; 
    font-size: 25pt; 
    color: #2E2E2E; 
    background-color: white; 
    text-align: center;"
}


#Links {
	color: #5F0303 ; 
	font-size: 13pt; 
	font-family: Times New Roman, Times, serif;
	font-style: italic
}

#Section1{
	text-align: center;
	color: white; 
	font-family: Times New Roman, Times, serif;
}

#Main-Cast {
	color: #5F0303; 
	font-size: 15pt; 
	font-family: Times New Roman, Times, serif

}

#Section2 {
	text-align: center;
	color: #white; 
	font-family: Times New Roman, Times, serif;
}

#Plot {
	color: #5F0303; 
	font-size:15pt; 
	font-family: Times New Roman, Times, serif;
}

#Section3 {
	text-align: center;
	color: white; 
	font-family: Times New Roman, Times, serif;
}

#Gallery {
	color: #5F0303; 
	font-size: 15pt; 
	font-family: Times New Roman, Times, serif;
}

#Section4 {
	text-align: center;
}

#Episodes {
	font-style: italic; 
	color: #610B0B; 
	font-size: 17pt; 
	font-family: Times New Roman, Times, serif;
}

#Image1 {
	border-style : solid ; 
	border-width: 5px ; 
	border-color: white;
	padding: 10px;
}

#Image2 {
	border-style : solid ; 
	border-width: 5px ; 
	border-color: white;
	padding: 10px;

}
#Image3 {
	border-style : solid ; 
	border-width: 5px ; 
	border-color: white;
	padding: 10px;

}
#Image4 {
	border-style : solid ; 
	border-width: 5px ; 
	border-color: white;
	padding: 10px;
}

#Image5 {
	border-style : solid ; 
	border-width: 5px ; 
	border-color: white;
	padding: 10px;
}

#Image6 {
	border-style : solid ; 
	border-width: 5px ; 
	border-color: white;
	padding: 10px;
}

#Image7 {
	border-style : solid ; 
	border-width: 5px ; 
	border-color: white;
	padding: 10px;
}

#Image8 {
	border-style : solid ; 
	border-width: 5px ; 
	border-color: white;
	padding: 10px;
}

#Image9 {
	border-style : solid ; 
	border-width: 5px ; 
	border-color: white;
	padding: 10px;
}

#Image10 {
	border-style : solid ; 
	border-width: 5px ; 
	border-color: white;
	padding: 10px;
}

#Image11 {
	border-style : solid ; 
	border-width: 5px ; 
	border-color: white;
	padding: 10px;
}

#Image12 {
	border-style : solid ; 
	border-width: 5px ; 
	border-color: white;
	padding: 10px;
}

#Image13 {
	border-style : solid ; 
	border-width: 5px ; 
	border-color: white;
	padding: 10px;
}

#Image14 {
	border-style : solid ; 
	border-width: 5px ; 
	border-color: white;
	padding: 10px;
}

#Image15 {
	border-style : solid ; 
	border-width: 5px ; 
	border-color: white;
	padding: 10px;
}


</style>
</head>
<body>

<h1>My First CSS Example</h1>
<p>This is a paragraph.</p>

</body>