body {
    color: #d0e4fe;
    background-image: url(suits1.jpg); 
    background-repeat: no-repeat;
    background-position: right bottom;
    font-family: helvetica, arial;
    background-color: black
}
#allcontent {
	width: 800px
	padding-top:10px;
	padding-bottom:10px;
	margin-left:100px;
	margin-right:100px;
	background-color: #C0C0C0;
	margin-top: 580px;
}

header {
    text-align: center;

}

#Image0 {
	position: absolute;
	left:45px;
	top:0px;
}

h1 {
    font-family: Times New Roman, Times, serif; 
    font-size: 25pt; 
    color: #2E2E2E; 
    background-color:; 
    text-align: center;"
}


#Links {
	color: #5F0303 ; 
	font-size: 13pt; 
	font-family: Times New Roman, Times, serif;
	font-style: italic
}

#Section1{
	text-align: center;
	color: #2E2E2E; 
	font-family: Times New Roman, Times, serif;
}

#Main-Cast {
	color: #C80000 ; 
	font-size: 15pt; 
	font-family: Times New Roman, Times, serif

}

#Section2 {
	text-align: center;
	color: #2E2E2E; 
	margin-left: 220px;
	margin-right: 220px;
	font-family: Times New Roman, Times, serif;
}

#Plot {
	color: #C80000 ; 
	font-size:15pt; 
	font-family: Times New Roman, Times, serif;
}

#Section3 {
	text-align: center;
	color: #2E2E2E; 
	font-family: Times New Roman, Times, serif;
}

#Gallery {
	color: #C80000 ; 
	font-size: 15pt; 
	font-family: Times New Roman, Times, serif;
}

#Section4 {
	text-align: center;
}

#Episodes {
	font-style: italic; 
	color: #C80000 ; 
	font-size: 17pt; 
	font-family: Times New Roman, Times, serif;
}



#Image1, #Image2, #Image3, #Image4, #Image5, #Image6, #Image7, #Image8, #Image9, #Image10, #Image11 {
	border-style : solid ; 
	border-width: 5px ; 
	border-color: white;
	padding: 5px;

}


.Picture1 {
	float: left;
	margin: 0px 0 10px 10px;
}

.Picture2 {
	float: left;
	margin: 0px 0px 10px 10px;
}

.Picture3 {
	float:left;
	margin: 0 10px 10px 10px;
}

.Picture4 {
	float:left;
	margin: 0px 0 10px 10px;
}

.Picture5 {
	float:left;
	margin: 0 0 10px 10px;
}






